@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 16px;
}

/* navigation bar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 3rem;
}
.navlinks{
    list-style: none;
}

.navlinks a{
text-decoration: none;
color: black;
}

.navlinks li {
    display: inline-block;
    justify-content: space-evenly;

}

.navlinks li a{
    transition: all 0.3s ease 0s;

}
.navlinks li a:hover {
color: brown;
}